.text{
        margin-top: 200px;
        margin-right: 400px;
        margin-left: 400px;
}
.conteiner{
        padding-top: 8px;
        background: rgb;
}
.boeder{
        margin-right: 400;
        margin-left: 400;
}